@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body {
  margin: 0 !important;
  height: 100%;
  width: 100%;
}

.navbox {
  display: flex;
  align-items: center;
}
.navbar {
  padding-left: 2% !important;
  height: 10vh !important;
  background-color: #fff !important;
  border: 1px solid #EBF0F5;
  color: black !important;
  box-shadow: none !important;
  display: flex;
  justify-content: center !important;
}
.profile{
  padding-top: 0.5%;
}
.profile-box{
  text-transform: none !important;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  width: 60%;
  height: fit-content;
  padding: 3%;
  align-items: flex-end !important;
}
.logo{
  display: flex;
  align-items: center;
}
.logo-photo{
  padding-left: 30px !important;
}
.name{
  padding-left: 10px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
}


.main{
  height: 90vh !important;
}
.sidebar {
  position: absolute;
  top: 10%;
  width: 15% !important;
  height: 100% !important;
  padding-right: 0%;
  border-right: 1px solid #EBF0F5;
}
.sidebar .MuiDrawer-paper {
  width: 15% !important;
  top: auto !important;
}

.side-box {
  padding-top: 10% !important;
}

.listitem {
  width: 90% !important;
  border-radius: 0px 100px 100px 0px !important;
}
.active {
  background-color: #EBF0F5 !important;
  color: blue !important;
}

.skillpage {
  padding-left: 2%;
}

.page-heading 
{
  padding-top: 2%;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  color: #566474;
  padding-bottom: 3%;
}

.heading-box{
  padding: 2%;
  box-sizing: border-box;
  border: 1px solid #EBF0F5; 
  border-radius: 10px;
}

.skills-headings {
  padding-top: 3%;
}

.skill-heading {
  font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 1.2em;
line-height: 21px;
/* identical to box height */

letter-spacing: -0.02em;

color: #222F3E;
}

.skill-subheading {
  font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 0.8em;
line-height: 180%;
letter-spacing: -0.02em;
color: #566474;
}

.change-button{
  display: flex;
  align-items: center;
}
.change-button Button {
  width: 100%;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  background: #142683;
  border-radius: 5px;
}


/* MODAL CSS */

.modal-heading{
  display: flex !important;
  align-items: center !important;
  font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 47px;
letter-spacing: -0.02em;
color: #222F3E;
}

.dialogue-content{
  padding-top: 2% !important;
}

.modal-field{
  margin-bottom: 3%;
}

.input-text{
  letter-spacing: 0.1em;
  width: 80px !important;
}

.number-highlight{
  padding-left: 10px !important;
  padding-right: 2px !important;
  margin-right: 2%;
  padding-top: 4%;
  border-radius: 50%;
  padding: 0.5%;
  background-color: #142683;
  color: #fff;
}

.update-your {
  font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
letter-spacing: -0.02em;
color: #566474;
}

.varname {
  font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 28px;
letter-spacing: -0.02em;
color: #566474;
}

.range-form{
  border: 2px solid #142683;
  border-radius: 10px; 
  display: flex;
  align-items: center;
}

.minus{
  display: flex;
  justify-content: flex-end;
  padding: 5% !important;
}
.field-num{
  padding-left: 10%;
  padding-right: 15%;
}
.plus{
  display: flex;
  justify-content: flex-end;
  padding: 1% !important;
}

/* stats section */


.show-stats {
  border-radius: 5px;
  margin-top: 3%;
  border: 1px solid #EBF0F5;
}
.stats-heading {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #222F3E;
  padding-left: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.stat-section{
  padding: 5%;
}

.stat-image{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EBF0F5;
  border-radius: 50%;
  height: 60px !important;
}

.stat-info {
  padding-left: 30px !important;
}
.stat-score{
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 29px;
  letter-spacing: -0.02em;
  color: #1E272E;
  padding-bottom: 4%;

}
.stat-name{
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8em;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: #9EAAB7;
}

/* comparison-section */

.comparison-section{
  border-radius: 5px;
  margin-top: 3%;
  border: 1px solid #EBF0F5;
}

.comparison-heading {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #222F3E;
  padding-left: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.comparison-subheading {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #566474;
  padding-left: 3%;
  padding-bottom: 3%;
}
.comparison-bold-subheading{
  font-weight: bold;
}

.comparison-graph{
  padding-left: 3%;
  padding-right: 3%;
}

/* progress bars */

.progressbars  {
  margin-left: 3%;
  margin-right: 3%;
  border: 1px solid #EBF0F5;
  border-radius: 3%;
  padding: 5% 2% 5% 10%;
}

.progress-head {
  font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 1.2em;
line-height: 28px;
letter-spacing: -0.02em;
padding-bottom: 10%;
color: #1E272E;
}


.progress {
  margin-bottom: 5%;
  height: 15px;
  border-radius: 1rem;
  transition: 1s ease;
  transition-delay: 0.5s;
}
.bar-element{
  padding-bottom: 7%;
}
.progress-title {
font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 0.9em;
line-height: 21px;
letter-spacing: -0.02em;
color: #566474;
padding-bottom: 2%;
}

.progress-percentage{
  margin-top: -5px !important;
}

.green-percent{
  color: green;
}
.pink-percent{
  color: violet;
}

.donut-chart{
  margin-top: 5%;
  margin-left: 3%;
  margin-right: 3%;
  border: 1px solid #EBF0F5;
  border-radius: 3%;
  padding: 5% 10%;
  margin-bottom: 10%;
}
.donut-heading{
font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 1.2em;
line-height: 28px;
letter-spacing: -0.02em;
color: #1E272E;
padding-bottom: 10%;
}
.donut-score{
font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 1em;
padding-left: 30%;
line-height: 21px;
letter-spacing: -0.02em;
color: #438AF6;
}
.donut-subheading{
  font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 1em;
line-height: 150%;
letter-spacing: -0.02em;
color: #566474;
padding-bottom: 15%;
}
.bold-subheading{
  font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 0.8em;
line-height: 150%;
letter-spacing: -0.02em;
color: #566474;
}

.custom-tooltip{
	background-color: black;
	color: #EBF0F5;
	padding: 10%;
	border-radius: 10px;
}
.label {
	font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 23px;
letter-spacing: -0.02em;

color: #FFFFFF;
}
.desc {
	font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
letter-spacing: -0.02em;

color: rgba(255, 255, 255, 0.7);

}
